<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>Create Pickup Request</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"/>
</head>
<body>
<div class="container mt-4">
  <h1>Create Pickup Request</h1>
  <form th:action="@{/requests/save}" th:object="${request}" method="post">
    <div class="form-group">
      <label for="quantity">Quantity</label>
      <input type="number" step="any" id="quantity" th:field="*{quantity}" class="form-control" placeholder="Enter quantity"/>
    </div>
    <div class="form-group">
      <label for="user">User</label>
      <select id="user" class="form-control" name="user.user_id">
        <option th:each="user : ${users}" th:value="${user.user_id}" th:text="${user.username}"></option>
      </select>
    </div>
    <div class="form-group">
      <label for="category">Waste Category</label>
      <select id="category" class="form-control" name="category.category_id">
        <option th:each="cat : ${categories}" th:value="${cat.category_id}" th:text="${cat.name}"></option>
      </select>
    </div>
    <br/>
    <button type="submit" class="btn btn-success mt-2">Save</button>
    <br/>
    <a class="btn btn-outline-secondary mt-2" th:href="@{/categories}">Back to Request</a>
    <br/>
    <a class="btn btn-outline-secondary mt-2" th:href="@{/dashboard}">Back to Dashboard</a>
  </form>
</div>
</body>
</html>