<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Create Recycling Center</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"/>
</head>
<body>
<div class="container mt-4">
    <h1>Create Recycling Center</h1>
    <form th:action="@{/centers/save}" th:object="${center}" method="post">
        <input type="hidden" th:field="*{center_id}" />
        <div class="form-group">
            <label for="location">Location</label>
            <input type="text" id="location" th:field="*{location}" class="form-control" placeholder="Enter location"/>
            <div class="text-danger" th:if="${#fields.hasErrors('location')}" th:errors="*{location}"></div>
        </div>
        <div class="form-group">
            <label for="contact_info">Contact Info</label>
            <input type="text" id="contact_info" th:field="*{contact_info}" class="form-control" placeholder="Enter contact info"/>
            <div class="text-danger" th:if="${#fields.hasErrors('contact_info')}" th:errors="*{contact_info}"></div>
        </div>
        <button type="submit" class="btn btn-success mt-2">Save</button>
        <br/>
        <a class="btn btn-outline-secondary mt-2" th:href="@{/centers}">Back to Centers</a>
        <br/>
        <a class="btn btn-outline-secondary mt-2" th:href="@{/dashboard}">Back to Dashboard</a>
    </form>
</div>
</body>
</html>