<div th:fragment="content">
    <h2>New Collection Schedule</h2>
    <form th:action="@{/schedules/save}" th:object="${schedule}" method="post">
        <div class="mb-3">
            <label>Area</label>
            <label>
                <input type="text" th:field="*{area}" class="form-control" required>
            </label>
        </div>
        <div class="mb-3">
            <label>Date</label>
            <label>
                <input type="date" th:field="*{date}" class="form-control" required>
            </label>
        </div>
        <button type="submit" class="btn btn-success">Save Schedule</button>
    </form>
</div>